<article>
  <h1><%= question.title%></h1>
   <img src="<%= question.img_path %>" width=300>
    <h2><%= question.body_text%></h2>
    <%= erb :'votes/_vote_form', locals: {vote_route: "/questions/#{question.id}/votes", voteable: question}, layout: false %>
    <%= erb :'comments/_comment_form', locals: {comment_route: "/questions/#{question.id}/comments"}, layout: false %>
    <div class="question-comments-list">
      <% question.comments.each do |comment| %>
        <%= erb :'comments/_comment', locals: {comment: comment}, layout: false %>
      <% end %>
    </div>
</article>


<!-- comment
votes -->

